<h1>All Contacts</h1>
<div class = 'listed_contact'>
	<ol>
		<% Contact.all.each do |contact| %>
	  <li><%= contact.first_name %> 
	  <%= contact.last_name %></li>
	<% end %>
	</ol>
</div>

<a href="/">Return to main</a>
