<h1>Create new Contact</h1>

<form action='/contacts' method='post'>

	<div class = 'content'>
		<div class = 'text'>

			<ul><input type='text' id ='first_name' name='first_name' placeholder='first name'></ul>
			<ul><input type='text' id = 'last_name' name='last_name' placeholder='last name'></ul>
			<ul><input type='text' id = 'email' name='email' placeholder='email'></ul>
			<ul><input type='text' id = 'note' name='note' placeholder='note'></ul>

			<input type='submit' value='New Contact'>
			
		</div>			


	</div>



</form>